<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>am_calendar.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>26</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D1ACAACFF4D20C8D901312B8302F80751EC4B8AD</string>
				<key>dateExpires</key>
				<string>28/03/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D1ACAACFF4D20C8D901312B8302F80751EC4B8AD</string>
						<key>dateExpires</key>
						<string>28/03/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TATD6GM8X7</string>
						<key>name</key>
						<string>UNION ELEVE ECOLE NATION SUP ART METIER</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D1ACAACFF4D20C8D901312B8302F80751EC4B8AD</string>
						<key>dateExpires</key>
						<string>28/03/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TATD6GM8X7</string>
						<key>name</key>
						<string>UNION ELEVE ECOLE NATION SUP ART METIER</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D1ACAACFF4D20C8D901312B8302F80751EC4B8AD</string>
						<key>dateExpires</key>
						<string>28/03/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TATD6GM8X7</string>
						<key>name</key>
						<string>UNION ELEVE ECOLE NATION SUP ART METIER</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D1ACAACFF4D20C8D901312B8302F80751EC4B8AD</string>
						<key>dateExpires</key>
						<string>28/03/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TATD6GM8X7</string>
						<key>name</key>
						<string>UNION ELEVE ECOLE NATION SUP ART METIER</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D1ACAACFF4D20C8D901312B8302F80751EC4B8AD</string>
						<key>dateExpires</key>
						<string>28/03/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TATD6GM8X7</string>
						<key>name</key>
						<string>UNION ELEVE ECOLE NATION SUP ART METIER</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D1ACAACFF4D20C8D901312B8302F80751EC4B8AD</string>
						<key>dateExpires</key>
						<string>28/03/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TATD6GM8X7</string>
						<key>name</key>
						<string>UNION ELEVE ECOLE NATION SUP ART METIER</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D1ACAACFF4D20C8D901312B8302F80751EC4B8AD</string>
						<key>dateExpires</key>
						<string>28/03/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TATD6GM8X7</string>
						<key>name</key>
						<string>UNION ELEVE ECOLE NATION SUP ART METIER</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TATD6GM8X7.fr.dorian.amcalendar</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TATD6GM8X7</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>54a3f45a-21c6-42e3-ae53-de0b4af7ea99</string>
				<key>dateExpires</key>
				<string>28/03/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: fr.dorian.amcalendar</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TATD6GM8X7</string>
				<key>name</key>
				<string>UNION ELEVE ECOLE NATION SUP ART METIER</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.0</string>
		</dict>
	</array>
</dict>
</plist>
